<div class="table-responsive" *ngIf="(basketService.basketSource$ | async) as basket">
  <table class="table">
    <thead class="text-uppercase border-top-0" [class.bg-light]=isBasket>
    <tr>
      <th scope="col" class="border-top-0">
        <div class="py-2">Product</div>
      </th>
      <th scope="col" class="border-top-0">
        <div class="py-2">Price</div>
      </th>
      <th scope="col" class="border-top-0" [class.text-center]="!isBasket">
        <div class="py-2">Quantity</div>
      </th>
      <th scope="col" class="border-top-0">
        <div class="py-2">Total</div>
      </th>
      <th *ngIf="isBasket" scope="col" class="border-top-0">
        <div class="py-2">Remove</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basket.items">
      <th scope="row">
        <div class="p-2">
          <img src="{{ item.pictureUrl }}" alt="{{ item.productName }}" class="img-fluid" style="max-height: 50px;">
          <div class="ml-3 d-inline-block align-middle">
            <h5 class="mb-0">
              <a routerLink="/shop/{{item.id}}" class="text=dark">{{ item.productName }}</a>
            </h5>
            <span class="text-muted font-weight-normal font-italic d-block">Type: {{item.type}}</span>
          </div>
        </div>
      </th>
      <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
      <td class="align-middle">
        <div class="d-flex align-items-center"
             [class.justify-content-center]=!isBasket>
          <i *ngIf="isBasket" (click)="removeBasketItem(item.id, 1)" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
          <span class="font-weight-bold" style="font-size: 1.2em">{{ item.quantity }}</span>
          <i *ngIf="isBasket" (click)="addBasketItem(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
        </div>
      </td>
      <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
      <td *ngIf="isBasket" class="align-middle">
        <a class="text-danger">
          <i
            (click)="removeBasketItem(item.id, item.quantity)"
            class="fa fa-trash"
            style="font-size: 2em; cursor: pointer;"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
